<html>
    <header>
        <h2><center>예약이 취소되었습니다.</h2>
      </header>
        <body>
          <label class="bye">다음에 이용해주세요.</label>
          <br>
          <br>
          <br>
          <br>
          <button class="end" type="button" onclick="location.href='main'"><span style="color:white">닫기</span></button>
        </body>
</html>
<style>
    .bye{
  font-size: 15pt;
}
.end{
  float: right;
  font-size: 14pt;
  background-color:red;
  border-color: red;
}
</style>