<html>
    <header>
        <h2><center>예약이 완료되었습니다.</h2>
      <hr color="Wheat" size="5pt">
          </header>
        <body>
          <br>
          <label><span style="font-size: 16pt;">강남 세브란스 병원<br>서울특별시 강남구 언주로 211</label><br>
            <label><span style="font-size: 16pt;">예약한 시간: 11:00~11:30
              <br></label>
              <label><span style="font-size: 16pt;">예상요금: 600원
          <br><br><br><br>
          <button class="change" type="button" onclick="location.href='location_select.html'"><span style="color:white">예약변경</button>
          <button class="cancel" type="button" onclick="location.href='cancel.html'"><span style="color:white">예약취소</button>
          <button class="map_search">지도보기</button>
            
        </body>
</html>
<style>
    .change{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: ForestGreen;
  background-color: ForestGreen;
  font-style: white;
}
.cancel{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: #FF0040;
  background-color:#FF0040;
}
.map_search{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: SkyBlue;
  background-color: SkyBlue;
}
</style>