<html>
    <header>
        <h2><center>예약이 완료되었습니다.</h2>
      <hr color="Wheat" size="5pt">
          </header>
        <body>
          <br>
          <label><span style="font-size: 16pt;">강남 세브란스 병원<br>서울특별시 강남구 언주로 211</label><br>
            <label><span style="font-size: 16pt;">예약한 시간: 11:00~11:30
              <br></label>
              <label><span style="font-size: 16pt;">예상요금: 600원
          <br><br><br><br>
          <button class="change" type="button" onclick="location.href='main'"><span style="color:white">예약변경</button>
          <button class="cancel" type="button" onclick="location.href='cancel'"><span style="color:white">예약취소</button>
          <button class="map_search" type="button" onclick="window.open('https://map.naver.com/v5/search/%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EA%B0%95%EB%82%A8%EA%B5%AC%20%EC%96%B8%EC%A3%BC%EB%A1%9C%20211/address/14142725.894341584,4508039.355823765,%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C%20%EA%B0%95%EB%82%A8%EA%B5%AC%20%EC%96%B8%EC%A3%BC%EB%A1%9C%20211,new?c=14142647.1456475,4507995.4511213,17,0,0,0,dh&isCorrectAnswer=true')">지도보기</button>
          <button class="home" type="button" onclick="location.href='main'"><span style="color:white";>홈으로</span></button> 
        </body>
</html>
<style>
    .change{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: ForestGreen;
  background-color: ForestGreen;
  font-style: white;
}
.cancel{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: #FF0040;
  background-color:#FF0040;
}
.map_search{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: SkyBlue;
  background-color: SkyBlue;
}
.home{
  border-radius: 10pt;
  font-size: 15pt;
  border-color: BlueViolet;
  background-color: BlueViolet;
}
</style>