<html>
    <header>
        <h1><center>충전기 찾기</h1>
          </header>
          <body>
            <br>
          <label class="ment">서울시에서 <p id="nickname" value="getUrlVars()"></p> 님의 테슬라의 충전이 가능한 곳
            <button class="button" type="button" onclick="location.href='main.html'">다른 장소로 변경하기</button>
            <br><br>
            <hr color="Wheat" size="5pt"></hr><br>
            <label class="text">강남세브란스 병원<button class="jim" type="button" onclick="alert('찜이 되었습니다.')">찜하기
            </button><button class="map" type="button" onclick="window.open('https://map.naver.com/v5/search/%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EA%B0%95%EB%82%A8%EA%B5%AC%20%EC%96%B8%EC%A3%BC%EB%A1%9C%20211/address/14142725.894341584,4508039.355823765,%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C%20%EA%B0%95%EB%82%A8%EA%B5%AC%20%EC%96%B8%EC%A3%BC%EB%A1%9C%20211,new?c=14142647.1456475,4507995.4511213,17,0,0,0,dh&isCorrectAnswer=true')">지도보기</button></button><br>
              서울시 강남구 언주로 211</label> <br><br>
            <button class="rapid" type="button" onclick="location.href='rapid'">급속1 </button>
            <button class="rapid" type="button" onclick="location.href='rapid'"> 급속2 </button>

              <br><br><hr color="Wheat" size="2.5pt"></hr><br>

              <label class="text">LH강남힐스테이트<button class="jim" onclick="alert('찜이 되었습니다.')">찜하기
              </button><button class="map" type="button" onclick="window.open('https://map.naver.com/v5/search/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C%20%EA%B0%95%EB%82%A8LH%ED%9E%90%EC%8A%A4%ED%85%8C%EC%9D%B4%ED%8A%B8/place/34044671?c=14146810.9114607,4505168.7045843,15,0,0,0,dh&placePath=%3Fentry%253Dbmp')">지도보기</button></button><br>
              서울특별시 강남구 자곡동 자곡로3길 21</label> <br><br>
              <button class="rapid" type="button" onclick="location.href='rapid1'">급속1 </button>
              <button class="slow" type="button" onclick="location.href='slow1'"> 완속1 </button>
              <button class="slow" type="button" onclick="location.href='slow1'"> 완속2 </button>
              <button class="slow" type="button" onclick="location.href='slow1'"> 완속3 </button>
              <button class="slow" type="button" onclick="location.href='slow1'"> 완속4 </button>

              <br><br><hr color="Wheat" size="2.5pt"><br>

              <label class="text">LH서울지사<button class="jim" onclick="alert('찜이 되었습니다.')">찜하기
              </button><button class="map" type="button" onclick="window.open('https://map.naver.com/v5/search/lh%EC%84%9C%EC%9A%B8%EC%A7%80%EC%82%AC%EC%A0%84%EA%B8%B0%EC%B0%A8%EC%B6%A9%EC%A0%84%EC%86%8C/place/1064094734?c=14142103.2990555,4511062.9359059,17.21,0,0,0,dh&isCorrectAnswer=true')">지도보기</button></button><br>
              서울특별시 강남구 선릉로 121길 12</label> 
             <br>
              <br>
              <button class="rapid" type="button" onclick="location.href='rapid2'">급속1 </button>
            </body>
</html>
<script>
  function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
</script>
<style>
    .ment{
  font-size: 15pt;
}
.button{
  float: right;
  background-color: white;
  border-radius: 10px;
  font-size: 15pt;
  border-color:gray;
}
.text{
  font-size:13pt;
}
.jim{
  float: right;
  background-color:#FF0040;
  border-color:#FF0040;
  border-radius: 15pt;
  font-size: 13pt;
}
.map{
  float:right;
  background-color: LimeGreen;
  border-radius: 15pt;
  font-size:13pt;
  border-color: LimeGreen;
}
.rapid{
  font-size: 13pt;
  background-color: gold;
  border-radius: 15pt;
  border-color: gold;
}
.slow{
  font-size: 13pt;
  background-color: GreenYellow;
  border-radius: 15pt;
  border-color: GreenYellow;
}

</style>