<html>
    <header>
        <h3>완속 충전기는 3시간 단위로 예약이 가능합니다.</h3>
        <br>
        <hr color="Wheat" size="5pt">
      </header>
      <body>
        <h4>강남 세브란스 병원<br> 서울특별시 강남구 언주로 211</h4>
        <select class="select">
          <option>----선택----</option>
          <option>00:00~03:00</option>
          <option>03:00~06:00</option>
          <option>06:00~09:00</option>
          <option>09:00~12:00</option>
          <option>12:00~15:00</option>
          <option>15:00~18:00</option>
          <option>18:00~21:00</option>
          <option>21:00~24:00</option>
        </select>
        <br><br>
          <button class="reserve" type="button" onclick="location.href='final1'">예약하기</button>
          </body>
</html>
<style>
    .reserve{
  font-size: 14pt; 
}
.select{
  font-size: 14pt;
}
</style>